<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 4.01//EN">
<html lang="en">
<head>
	<link href='/media/css/display.css' rel='stylesheet' type='text/css' />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

	<div id=wrapper>
	{% if page_name != '/login/' %}
		<div class=login>
			<a href="/login/">Login</a>
		</div>
	{% else %}
		<br>
	{% endif %}
	
    <h2>misplaced.Talent :: {{ page_name }}</h2>
	{% include "nav.html" %}
	<br>
	{% block content %}{% endblock %}
    </div>
</body>
</html>
