{% extends "base.html" %}
{% block content %}

<table width=800px>
	<tr>
		<td>
			{% if replays_list %}
			We currently have {{ replays_list|length }} replay{{ replays_list|pluralize }}
			<br><br>
			<table width=800px class='content-table'>
			{% for replay in replays_list %}
			<tr height=35px>
				{% if replay.p1_race == "Zerg" %}
					<td width="20%" id="p1_zerg">
				{% endif %}
				{% if replay.p1_race == "Terran" %}
					<td width="20%" id="p1_terran">
				{% endif %}
				{% if replay.p1_race == "Protoss" %}
					<td width="20%" id="p1_protoss">
				{% endif %}

				<b>
				{{ replay.player1 }}
				</b>	
				
				</td>
				<td width=5%>
				vs.
				</td>
				{% if replay.p2_race == "Zerg" %}
					<td width="20%" id="p2_zerg">
				{% endif %}
				{% if replay.p2_race == "Terran" %}
					<td width="20%" id="p2_terran">
				{% endif %}
				{% if replay.p2_race == "Protoss" %}
					<td width="20%" id="p2_protoss">
				{% endif %}
				<b>
				{{ replay.player2 }}
				</b>	
				
				</td>
				<td width=25%>
					{{ replay.map_name }}
				</td>
				<td width=15%>
					{{ replay.game_length }}
				</td>
				<td width=15%>
					<a href='/replay/{{ replay.id }}'><img src="/media/img/mag-icon.png" title="Details" height="15px" width="15px"></a>
				</td>
			</tr>
				{% endfor %}
			{% else %}
					Stuff goes here
			{% endif %}
			
		</table>
		</td>
	</tr>
</table>

{% endblock %}