{% extends "base.html" %}
{% block content %}

<table width=800px>
	<tr>
		<td>
			filename - {{replay_file }}<br>
			{{ r.length.hours }}h {{ r.length.mins }}m {{ r.length.secs }}s<br>
			{{ r.map_name }}<br>		
		<table width=800px class='content-table'>
			<tr>
				<td width=20%>
					Player
				</td>
				<td width=5%></td>
				<td width=20%>
					Colour
				</td>
				<td width=20%>
					Race
				</td>
				<td width=30%>
					APM
				</td>
			</tr>
			{% for i in r.players %}
			<tr height=50px>
				{% if i.play_race == "Zerg" %}
					<td width=20% id="race_zerg">
					{% else %}
					{% if i.play_race == "Terran" %}
						<td width=20% id="race_terran">
						{% else %}
						{% if i.play_race == "Protoss" %}
						<td width=20% id="race_protss">
						{% else %}
						<td width=20%>
				{% endif %}
				{% endif %}
				{% endif %}
					{{ i.name }}
					
				</td>
				<td>
				{% if i.result == "Win" %}
					<img src="/media/img/trophyIcon.gif" height="20px">
				{% endif %}
				<td width=20%>
					{{ i.color }}
				</td>
				{% if i.play.race == "Zerg" %}
					<td width=30% id="race_zerg">
				{% else %}
					<td width=30%>
				{% endif %}
					{{ i.play_race }}
				</td>
				<td width=15%>
					{{ i.avg_apm }}
				</td>
			</tr>
			{% endfor %}
						
		</table>
		
		
		</td>
	</tr>
</table>

{% endblock %}
	gametime = r.length
	gamedate = r.date
	gamemap = r.map
	player1 = r.player[1].name
	player2 = r.player[2].name
	p1bneturl = r.player[1].url
	p2bneturl = r.player[2].url
	p1race = r.player[1].play_race
	p2race = r.player[2].play_race
	p1result = r.player[1].result
	p2result = r.player[2].result